{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Additional styles for landing page -->
<style>
  /* Application header should be static for the landing page */
  .md-header {
    position: initial;
  }

  /* gray out roadmap items */
  .roadmap {
    color: rgba(255, 255, 255, 0.5);
  }

  /* background fill for container in home page */
  .md-container {
  background:
    linear-gradient(
      to bottom,
      hsla(0, 96%, 41%),
      rgb(67, 1, 149)
    );
  }

  /* Remove spacing, as we cannot hide it completely */
  .md-main__inner {
    margin: 0;
  }

  /* Hide main content for now */
  .md-content {
    display: none;
  }

  /* Hide table of contents */
  @media screen and (min-width: 60em) {
    .md-sidebar--secondary {
      display: none;
    }
  }

  /* Hide navigation */
  @media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
      display: none;
    }
  }
</style>

<!-- Hero for landing page -->
<section class="mdx-container">
  <div class="md-grid md-typeset">

    <div class="mdx-hero">
      <!-- Hero content -->
      <div class="mdx-hero__content">
        <h1>
          <strong>Kubernetes Release Optimizer</strong>
        </h1>

        <h3>
          Iter8 makes it easy to ensure that Kubernetes apps and ML models perform well and maximize business value.
        </h3>
        
        <a href="{{ base_url }}/getting-started/your-first-experiment/" title="Get started"
          class="md-button text-large">
          Get started in seconds
        </a>

        <a href="https://github.com/iter8-tools/iter8" title="star" class="md-button md-button--reverse text-large">
          <span class="twemoji">
            {% include ".icons/material/star.svg" %}
          </span>
          Star / Fork
          <span class="twemoji">
            {% include ".icons/material/source-fork.svg" %}
          </span>
        </a>

      </div>
    </div>

    <div class="mdx-hero">
      <div class="mdx-hero__content">
        <h1>
          <strong>Use-cases</strong>
        </h1>

        <h3>
          <ul>
            <li>
              Reliable and automated routing: blue-green, canary, and mirroring
            </li>
            <li>
              Metrics-driven validation: A/B/n testing, performance testing
            </li>
            <li class="roadmap">
              Metrics-driven validation (roadmap): drift detection, golden testing
            </li>
          </ul>  
        </h3>
      </div>

      <!-- Hero image -->
      <div class="mdx-hero__image">
        <img src="{{ base_url }}/images/iter8-intro-dark.png" alt="Iter8 experiment" draggable="false">
      </div>

    </div>

    <div class="text-center">
      <h2 class="text-light">
        <span class="twemoji">
          {% include ".icons/material/github.svg" %}
        </span>
        Open Source
      </h2>
    
      <h3 class="text-light">
        Built with
        <span class="twemoji heart">
          {% include ".icons/material/heart.svg" %} 
        </span>
        for DevOps, MLOps, SRE, and data science teams
      </h3>
      

      <h3 class="text-light social">
        <a href="https://github.com/iter8-tools/iter8" title="github" class="text-large">
          <span class="twemoji">
            {% include ".icons/material/github.svg" %}
          </span>
        </a>
        <a href="https://join.slack.com/t/iter8-tools/shared_invite/zt-awl2se8i-L0pZCpuHntpPejxzLicbmw" title="slack" class="text-large">
          <span class="twemoji">
            {% include ".icons/material/slack.svg" %}
          </span>
        </a>
        <a href="https://twitter.com/Iter8Tools" title="twitter" class="text-large">
          <span class="twemoji">
            {% include ".icons/material/twitter.svg" %}
          </span>
        </a>
      </h4>
    </div>

  </div>

</section>

{% endblock %}