{% extends "base.html" %}

<!-- Custom front matter -->
{% block extrahead %}

  <!-- Open graph meta tags -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Iter8"/>
  <meta property="og:title" content="{{ config.extra.title }}" />
  <meta property="og:description" content="{{ config.site_description }}" />
  <meta property="og:url" content="https://iter8.tools" />
  <meta property="og:image" content="https://iter8-tools.github.io/docs/0.9/images/iter8-intro-dark.png" />  

  <!-- Extra stylesheets -->
  <link
    rel="stylesheet"
    href="{{ 'stylesheets/main.css' | url }}"
  />

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>  

{% endblock %}

<!-- Theme-related JavaScript -->
{% block scripts %}
  {{ super() }}
{% endblock %}