site_name: Iter8
site_url: https://iter8.tools/latest
site_author: Srinivasan Parthasarathy
site_description: >-
  Iter8 is the Kubernetes release optimizer built for DevOps, MLOps, SRE and data science teams. Iter8 makes it easy to ensure that Kubernetes apps and ML models perform well and maximize business value.
# Repository
repo_name: iter8-tools/iter8
repo_url: https://github.com/iter8-tools/iter8
edit_uri: ""

# Configuration
theme:
  name: material
  custom_dir: overrides

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  features:
  - navigation.instant
  - navigation.sections
  - navigation.tabs
  - navigation.top
  - navigation.indexes
  palette:
  - scheme: primary
    primary: black
    accent: deep orange
  font:
    text: Roboto
    code: Roboto Mono
  favicon: images/favicon.png
  logo: images/logo.svg

# Plugins
plugins:
- search
- tags
- minify:
    minify_html: true
- mike

# Customization
extra:
  # Google Analytics
  analytics:
    provider: google
    property: UA-152813895-1

  title: Kubernetes Release Optimizer
  version:
    provider: mike
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/iter8-tools/iter8
  - icon: fontawesome/brands/slack
    link: https://join.slack.com/t/iter8-tools/shared_invite/zt-awl2se8i-L0pZCpuHntpPejxzLicbmw

  generator: false

copyright: Iter8 is open-source and available under the Apache 2 License.

# Extensions
markdown_extensions:
- admonition
- abbr
- attr_list
- def_list
- footnotes
- meta
- md_in_html
- toc:
    permalink: true
- pymdownx.arithmatex:
    generic: true
- pymdownx.betterem:
    smart_enable: all
- pymdownx.critic
- pymdownx.caret
- pymdownx.keys
- pymdownx.mark
- pymdownx.tilde
- pymdownx.details
- pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji
    emoji_generator: !!python/name:materialx.emoji.to_svg
- pymdownx.highlight
- pymdownx.inlinehilite
- pymdownx.keys
- pymdownx.magiclink:
    repo_url_shorthand: true
    user: iter8-tools
    repo: iter8
- pymdownx.smartsymbols
- pymdownx.snippets: 
    base_path:
    - "./"
    check_paths: true
- pymdownx.superfences:
    custom_fences:
    - name: mermaid
      class: mermaid
      format: !!python/name:pymdownx.superfences.fence_code_format
- pymdownx.tabbed:
    alternate_style: true 
- pymdownx.tasklist:
    custom_checkbox: true

# Page tree
nav:
- Home: index.md
- Getting Started:
  - Your first experiment: getting-started/your-first-experiment.md
  - Concepts: getting-started/concepts.md
  - Install Iter8: getting-started/install.md
  - Get help: getting-started/help.md
- Tutorials:
  - Load test HTTP with SLOs: tutorials/load-test-http.md
  - Load test gRPC with SLOs: tutorials/load-test-grpc.md
  - Chaos injection with SLOs: tutorials/chaos/slo-validation-chaos.md
  - A/B experiments: tutorials/abn/abn.md
  - Automated experiments: tutorials/autox/autox.md
  - Custom metrics:
    - One version: tutorials/custom-metrics/one-version.md
    - Two or more versions: tutorials/custom-metrics/two-or-more-versions.md
  - Integrations:
    - GitHub Actions: tutorials/integrations/ghactions.md
    - Istio: tutorials/integrations/istio.md
    - Knative: tutorials/integrations/knative.md
    - Kserve: 
      - Load test KServe (HTTP): tutorials/integrations/kserve/kserve-http.md
      - Load test KServe (gRPC): tutorials/integrations/kserve/kserve-grpc.md
      - Other (Iter8 v0.7): tutorials/integrations/kserve/kserve.md
    - Seldon: tutorials/integrations/seldon.md
    - Slack:  tutorials/integrations/slack.md
    - Litmus: tutorials/integrations/litmus.md
    - Linkerd: tutorials/integrations/linkerd.md
  - Earlier versions:
    - Docs for Iter8 v0.8: https://iter8-tools.github.io/iter8/0.8/
    - Docs for Iter8 v0.7: https://iter8-tools.github.io/iter8/0.7/
- User guide:
  - Tasks:
    - abnmetrics: user-guide/tasks/abnmetrics.md
    - assess: user-guide/tasks/assess.md
    - custommetrics: user-guide/tasks/custommetrics.md
    - github: user-guide/tasks/github.md
    - grpc: user-guide/tasks/grpc.md
    - http: user-guide/tasks/http.md
    - slack: user-guide/tasks/slack.md
    - ready: user-guide/tasks/ready.md
  - Topics:
    - Experiment parameters: user-guide/topics/parameters.md
    - Metrics: user-guide/topics/metrics.md
    - Namespace and group: user-guide/topics/group.md
    - Automated experiments: user-guide/topics/autox.md
    - A/B/n testing: user-guide/topics/ab_testing.md
  - Commands:
    - iter8: user-guide/commands/iter8.md
    - iter8 version: user-guide/commands/iter8_version.md
    - iter8 k: user-guide/commands/iter8_k.md
    - iter8 k launch: user-guide/commands/iter8_k_launch.md
    - iter8 k assert: user-guide/commands/iter8_k_assert.md
    - iter8 k report: user-guide/commands/iter8_k_report.md
    - iter8 k delete: user-guide/commands/iter8_k_delete.md
    - iter8 k log: user-guide/commands/iter8_k_log.md
- Contributing: contributing.md
- Roadmap: roadmap.md
- Community: 
  - Community: community/community.md
  - News: community/news.md

