// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Landing page container
.mdx-container {
  padding-top: px2rem(40px);
  background:
    linear-gradient(
      to bottom,
      hsla(0, 96%, 41%),
      rgb(67, 1, 149)
    );
  min-height: px2rem(884px);
}

.md-grid {
  max-width: 66rem;
}

// Landing page hero
.mdx-hero {
  margin: 0 px2rem(16px);
  color: var(--md-primary-bg-color);
  padding-bottom: px2rem(20px);

  // Hero headline
  h1 {
    color: currentColor;
    font-weight: 700;
  }

  // Hero content
  &__content {
    padding: px2rem(20px);    
  }

  // Hero image
  &__image {
    padding: px2rem(20px);
  }

  // [tablet landscape +]: Columnar display
  @include break-from-device(screen small) {
    display: flex;
    align-items: stretch;

    // Adjust spacing and set dimensions
    &__content {
      min-width: 50%;
    }

    // Hero image
    &__image {
      order: 1;
      min-width: 50%;
    }
  }

  // Button
  .md-button {
    margin-top: px2rem(20px);
    margin-right: px2rem(10px);
    color: inherit;

    // Button on focus/hover
    &:focus,
    &:hover {
      color: #96034a;
      background-color: #ffffff;
      border-color: #ffffff;
    }

    // reverse button
    &--reverse {
      color: #96034a;
      background-color: #ffffff;
      border-color: #ffffff;

      &:focus,
      &:hover {
        color: inherit;
        background-color: inherit;
        border-color: inherit;
        }
    }
  }

  .text-large {
    font-size: 1rem;
  }


}

// icon
@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
  color: #ff006f;
}

.text-light {
  color: var(--md-primary-bg-color);

  a {
    color: #ffffff;

    &:focus,
    &:hover {
      color: #fff07d;
    }
  }

  .social {
    a {
      border: 0rem;
      color: inherit;
    }
  }
}

.md-typeset {
  h3.social {
    letter-spacing: px2rem(10px);
  }
}


.text-center {
  text-align: center;
  padding: px2rem(20px);
}