name: Publish Iter8 Documentation

on:
  release:
    types: [published]

env:
  PYTHON_VERSION: 3.9

jobs:
  update-iter8-tools-docs:
    runs-on: ubuntu-latest
    steps:
    # setup pre-reqs
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0 # fetch all commits for mike deploy
        
    - name: Get version
      run: |
        tarref=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
        if [[ "${{ github.ref }}" == "refs/tags/"* ]]; then
          # Strip "v" prefix from tagref
          echo "VERSION=$(echo $tarref | sed -e 's/^v//')" >> $GITHUB_ENV
          echo "MAJOR_MINOR_VERSION=$(echo $tarref | sed -e 's/^v//' -e 's,\([0-9]*\.[0-9]*\)\.\([0-9]*\),\1,')" >> $GITHUB_ENV
        else
          exit 1
        fi
    - name: Update docs
      run: |
        git config --global user.name "Iter8"
        git config --global user.email iter8tools@gmail.com
        pip install -r requirements.txt
        mike deploy ${{ env.MAJOR_MINOR_VERSION }} latest -p -u

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: samples/abn-sample/generate_load.sh
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
